/* General Section */

html, body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

a:hover {
    text-decoration: none;
}

/*==============================================================================

                        PARALLAX (Generic)

==============================================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*====================================================================
                        LOGIN
===================================================================*/

#login-page {
	height: 100%;
}

#login-bg-diagonal {
    width: 50%;
    height: 100%;
    float: left;
    background-image: url(../img/bg.jpg);
    border-top: 790px solid transparent;
    border-right: 100px solid #fff;
}

#heading-primary {
	background-color: #fff;
	width: 250px;
	margin: 0 auto;
	border-radius: 20px;
    margin-top: -500px;
}

#heading-primary-right {
	background-color: deepskyblue;
	width: 250px;
	margin-left: 20%;
	border-radius: 20px;
    margin-top: 10%;
}

#login-bg-diagonal h1 {
	font-size: 350%;
	text-align: center;
	color: deepskyblue;
}

#heading-primary-right h1 {
	color: #fff;
	text-align: center;
}

#content-box {
    width: 100%;
}

.color-green{
    color: green !important;
} 

@media (min-width: 768px) {
	#content-box-outer {
    margin-top: 50%;
	}
}

@media (max-width: 768px) {
	#content-box-outer {
    margin-top: 10%;
	}
}